body {
  background-image: url("Immagini/home.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; /* Per coprire l'intera altezza della finestra */
}

#full-page-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 9999;
}