body {
  background-image: url("Immagini/home.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; /* Per coprire l'intera altezza della finestra */
}

#area-cliccabile {
    position: absolute;
    left: 349px;
    top: 359px;
    width: 514px;
    height: 38px;
    border: 2px dashed red;
    z-index: 9999;
}