body {
  background-image: url("Immagini/home.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; /* Per coprire l'intera altezza della finestra */
}