body {
  background-image: url("Immagini/password.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 110vh; /* Per coprire l'intera altezza della finestra */
}

.button {
   border-top: 1px solid #ffffff;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#963e9c), to(#ffffff));
   background: -webkit-linear-gradient(top, #963e9c, #ffffff);
   background: -moz-linear-gradient(top, #963e9c, #ffffff);
   background: -ms-linear-gradient(top, #963e9c, #ffffff);
   background: -o-linear-gradient(top, #963e9c, #ffffff);
   padding: 19px 38px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 13px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.button:hover {
   border-top-color: #000000;
   background: #000000;
   color: #ccc;
}

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
 }