body {
  background-image: url("Immagini/password.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 110vh; /* Per coprire l'intera altezza della finestra */
}