body {
  background-image: url("../Immagini/Eyes2.png"); /* Imposta l'immagine di sfondo */
}

.freccia-sinistra {
  text-decoration: none;
  font-size: 150px;
  color: #dec1e6;
  transition: color 0.3s ease;
  text-align: center;
  transform: translateX(-50%);
  display: block;
  margin-left: 80%;
  margin-bottom: 20%;
  position: absolute; 
}

.freccia-sinistra:hover {
  color: #4e3755;
  cursor: pointer;
}

@media screen and (min-width: 600px) and (max-width: 800px) and (orientation: portrait) {
  body {
    background-color: #000; /* sfondo nero */
    background-image: url("../Immagini/Eyes1.png");
    background-repeat: no-repeat;
    background-size: contain; /* mostra tutta l'immagine */
    background-position: center center;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
  }

  .freccia-sinistra {
    font-size: 120px;
    margin-left: 15%;
    margin-bottom: 15%;
  }

  .immagine-centrale {
    background-image: url("../Immagini/Eyes1.png");
    background-repeat: no-repeat;
    background-size: 100% auto; /* larghezza piena, altezza proporzionata */
    background-position: center center;
    width: 100vw;
    height: 90vh; /* quasi tutto lo schermo */
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  body {
    background-color: #000; /* sfondo nero */
    background-image: url("../Immagini/Eyes1.png");
    background-repeat: no-repeat;
    background-size: contain; /* mostra tutta l'immagine */
    background-position: center center;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
  }

  .freccia-sinistra {
    position: fixed;
    top: 14px;
    left: 20px;
    font-size: 80px;
    margin: 0;
    z-index: 1000;
    text-align: left;
  }

  .immagine-centrale {
    background-image: url("../Immagini/Eyes1.png");
    background-repeat: no-repeat;
    background-size: 100% auto; /* larghezza piena, altezza proporzionata */
    background-position: center center;
    width: 100vw;
    height: 90vh; /* quasi tutto lo schermo */
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  body {
    background-color: #000; /* sfondo nero */
    background-image: url("../Immagini/Eyes1.png");
    background-repeat: no-repeat;
    background-size: contain; /* mostra tutta l'immagine */
    background-position: center center;
    background-attachment: scroll;
    margin: 0;
    padding: 0;
  }

  .freccia-sinistra {
    position: fixed;
    top: 14px;
    left: 20px;
    font-size: 80px;
    margin: 0;
    z-index: 1000;
    text-align: left;
  }

  .immagine-centrale {
    background-image: url("../Immagini/Eyes1.png");
    background-repeat: no-repeat;
    background-size: 100% auto; /* larghezza piena, altezza proporzionata */
    background-position: center center;
    width: 100vw;
    height: 90vh; /* quasi tutto lo schermo */
    margin: 0 auto;
  }
}