body {
  background-image: url("../Immagini/Eyes2.png"); /* Imposta l'immagine di sfondo */
}

.freccia-sinistra {
  text-decoration: none;
  font-size: 150px;
  color: #dec1e6;
  transition: color 0.3s ease;
  text-align: center;
  transform: translateX(-50%);
  display: block;
  margin-left: 80%;
  margin-bottom: 20%;
  position: absolute; 
}

.freccia-sinistra:hover {
  color: #4e3755;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("../Immagini/Eyes1.png");
    background-repeat: no-repeat;
    background-size: contain; /* mostra tutta l'immagine */
    background-position: center center;
    background-attachment: scroll; /* evita problemi su mobile */
  }

  .freccia-sinistra {
    font-size: 100px; /* più piccola */
    margin-left: 10%;
    margin-bottom: 10%;
  }
}